
body {
	background: -webkit-gradient(linear, left top, right top, from(teal) , to(#D4F4DD));
	background: linear-gradient(to right, teal , #D4F4DD);
	font-family: 'Exo', sans-serif;
}

.pi{
	border:1px solid black;
}

.titulo{
height: 40px;
color:white;
background:#007A7C;
margin:0 0;
font-weight: 500;
font-size: 2rem;
padding-left: 20px;
padding-top: 5px;

}

.card {
	margin-top:150px;
}



.principal {
	padding-left: 23px;
	padding-top: 0px;
	height: 70px;
	background-color: #FCF7F9;
	line-height: 2.6;
	font-size: 2rem;
	font-weight: 300;
	color:#17BEBB;
	border:none;
	list-style:none
		
}


.principal::-webkit-input-placeholder{
	color:#E1E1E1;
}

.principal:-ms-input-placeholder{
	color:#E1E1E1;
}

.principal::-ms-input-placeholder{
	color:#E1E1E1;
}

.principal::placeholder{
	color:#E1E1E1;
}


input:focus{
	border: none;
	outline : none;
}

.list-group-item {
	padding:0px 45px;


}

#ta {
	width: 50px;
    height: 48px;
    top: 0;
    color: white;
    text-align: center;
    background:#D62246;
    line-height: 3.4;
    margin-right: 10px;


 

}

li{
	height: 50px;
	line-height: 3.4;
	padding-left: 20px;

-webkit-transition: all 0.8s;
transition: all 0.8s;
-webkit-transition-timing-function: ease;
        transition-timing-function: ease;

	
}

 

 #plus {
 	color:white;
 	margin-left:auto;
 	padding-left: 150px;

 	

 }
 .borra {
 	display:none;
 


 }

.tachado{
	text-decoration: line-through;
	color:#C2C2C2;
		
}

i{

}