
body {
	background: -webkit-gradient(linear, left top, right top, from(teal) , to(#D4F4DD));
	background: linear-gradient(to right, teal , #D4F4DD);
	font-family: 'Exo', sans-serif;
}

.pi{
	border:1px solid black;
}

.titulo{
height: 40px;
color:white;
background:#4B1D3F;
margin:0 0;
font-weight: 500;
font-size: 2rem;
padding-left: 20px;
padding-top: 5px;

}

.card {
	margin-top:150px;
}

span{
background-color:teal;
width:40px;
height: 40px;
font-size: 20px;
}

.principal {
	height: 50px;
	background-color: #FCF7F9;
	line-height: 2;
	font-size: 1.8rem;
	font-weight: 400;
	color:#333;
}